{% extends "base_polls.html" %}
{% block content %}
<h1> {{ question.question_text }} </h1>															<!-- #1 -->

{% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}					<!-- #2 -->

<form action="{% url 'polls:vote' question.id %}" method="post">								<!-- #3 -->
{% csrf_token %}																				<!-- #4 -->
{% for choice in question.choice_set.all %}														<!-- #5 -->
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}"/>	<!-- #6 -->
	<label for="choice{{forloop.counter}}"> {{choice.choice_text}}</label><br/>					<!-- #7 -->
{%endfor%}																						
<input type="submit" value="Vote"/>																<!-- #8 -->
</form>																							

{% endblock content %}
